<div class="footer" id="contato">
    <div class="container">
        <div class="row">
            <span class="row-title">Entre em contato com a nossa equipe</span>
            <div class="footer-items">
                <div class="left-side">
                    <form class="form-contact" action="#">
                        <div class="box-inputs">
                            <div class="col s12 m12 l6">
                                <input class="form-field" type="text" placeholder="Nome" name="nome" required>
                            </div>
                            <div class="col s12 m12 l6">
                                <input class="form-field" type="text" placeholder="Email" name="email" required>
                            </div>
                        </div>
                        <div class="box-inputs">
                            <div class="col s12 m12 l6">
                                <input class="form-field" type="text" placeholder="Assunto" name="assunto" required>
                            </div>
                            <div class="col s12 m12 l6">
                                <input class="form-field" type="text" placeholder="Telefone" name="telefone" maxlength="19" onkeyup="mascarar(this, 'telefone')">
                            </div>
                        </div>
                        <div class="box-textareas">
                            <textarea name="mensagem" cols="30" rows="10" placeholder="Escreva sua mensagem" required></textarea>
                        </div>
                        <div class="box-buttons">
                            <button type="submit">Enviar</button>
                        </div>
                    </form>
                </div>
                <div class="right-side">
                    <span class="title">Endereço:</span>
                    <span>Rua Pedrarias de Avilar, 129, Japiim I CEP 69077-450</span>
                    <span>Manaus, Amazonas, Brasil</span>
                    <span class="title">Telefone:</span>
                    <span>+55 (92) 3613-1474</span>
                    <span class="title">Email:</span>
                    <span>projetogiulia2015@gmail.com</span>
                </div>
            </div>
        </div>
    </div>
</div>