<div class="header header-fixed-with-scroll">
    <div class="container">
        <div class="row">
            <div class="header-items">
                <!-- Logo -->
                <a href="<%=back%>">
                    <img class="brand-logo responsive-img" src="/images/logos/map-technology.png" alt="Logo Map Technology">
                </a>
                <a href=/login>Login</a>
            </div>
        </div>
    </div>
</div>