<div class="topbar-no-fixed">
    <div class="container">
        <div class="row">
            <div class="col s6 m6 l6">
                <a href="https://outlook.umbler.com/" target="_blank">Webmail</a>
                <a href="http://suporte.maptechnology.com.br:83/" target="_blank">HelpDesk</a>
            </div>
            <div class="col s6 m6 l6 right-align hide-on-small-only">
                <a href="javascript:void(0);" class="language pt-br">Português</a>
                <a href="javascript:void(0);" class="language en-us">English</a>
                <a href="javascript:void(0);" class="language es-es">Español</a>
            </div>
            <div class="col s6 m6 l6 right-align hide-on-med-and-up">
                <a href="javascript:void(0);" class="language pt-br">PT-BR</a>
                <a href="javascript:void(0);" class="language en-us">EN</a>
                <a href="javascript:void(0);" class="language es-es">ES</a>
            </div>
        </div>
    </div>
</div>