<!DOCTYPE html>
<html>
    <head>
        <title>
        </title>
        <link rel='stylesheet' href='/styles/css/app.css' />
        <link rel="icon" type="image/png" href="/images/favicon.png" />
        <meta name="viewport" content="width=device-width, user-scalable=no">
    </head>
    <body>
        <div id="error">
            <%- include("components/header-no-menu.ejs"); %>
            <div class="container">
                <div class="row center">
                    <img src="/images/404.png" class="error-img responsive-img">
                    <%=error%>
                    <a href="/" class="call-to-action">Voltar</a>
                </div>
            </div>
        </div>
        <script src="/lib/jquery/jquery-3.3.1.min.js"></script>
        <script src="/lib/clamp/clamp.min.js"></script>
        <script src="/lib/looky/js/looky-headers.js"></script>
        <script src="/lib/looky/js/looky-masks.js"></script>
        <script src="/scripts/news.js"></script>
    </body>
</html>