<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel=stylesheet href=/styles/css/app.css />
        <link rel=icon type=image/png href=/images/favicon.png />
        <meta name=viewport content="width=device-width, user-scalable=no">
    </head>
    <body>
        <div class=row></div>
        <div class=row></div>
        <div id="news">
            <div class=container>
                <div class=row>
                    <form action=/login/auth method=POST class="col l6">
                        <div class=row>
                            <div class="input-field col l4">
                                <input id=login type=text name=login>
                                <label for=login>Login</label>
                            </div>
                            <div class="input-field col l4">
                                <input id=senha type=password name=senha>
                                <label for=senha>Senha</label>
                            </div>
                            <div class="input-field col l2">
                                <button type=submit>Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script src=/lib/jquery.js></script>
        <script src=https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js></script>
        <script src=/lib/axios/axios.min.js></script>
        <script src=/scripts/login.js></script>
    </body>
</html>