<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/styles/css/app.css' />
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <meta name="viewport" content="width=device-width, user-scalable=no">
</head>

<body>
    <%- include("components/header-no-menu.ejs"); %>
    <div id="news">
        <section>
            <div class="container">
                <div class="new-header">
                    <span class="new-date"><%=noticia.data%></span>
                    <div class="new-categories">
                        <a href="javascript:void(0);"><%=noticia.categoria%></a>
                    </div>
                    <h1 class="new-title"><%=noticia.titulo%></h1>
                </div>
                <div class="center">
                    <img src="<%=noticia.imagem%>" alt="" class="responsive-img new-img">
                </div>
                <div class="new-content">
                    <%-noticia.corpo%>
                </div>
            </div>
        </section>
    </div>
    <%- include("components/footer.ejs"); %>
    <script src="/lib/jquery/jquery-3.3.1.min.js"></script>
    <script src="/lib/clamp/clamp.min.js"></script>
    <script src="/lib/looky/js/looky-headers.js"></script>
    <script src="/lib/looky/js/looky-masks.js"></script>
    <script src="/scripts/news.js"></script>
</body>

</html>