<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel=stylesheet href=/styles/css/app.css />
        <link rel=icon type=image/png href=/images/favicon.png />
        <meta name=viewport content="width=device-width, user-scalable=no">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link rel=stylesheet type=text/css href=/lib/froala/froala_editor.pkgd.min.css>
        <link rel=stylesheet type=text/css href=/lib/froala/froala_style.min.css>
    </head>
    <body>
        <div class=topbar-no-fixed>
            <div class=container>
                <div class=row>
                    <div class="col offset-l6 s6 m6 l6 right-align hide-on-small-only">
                        <a href=/login/logout>Sair</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header header-fixed-with-scroll">
            <div class="container">
                <div class="row">
                    <div class="header-items">
                        <!-- Logo -->
                        <a href="<%=back%>">
                            <img class="brand-logo responsive-img" src="/images/logos/map-technology.png" alt="Logo Map Technology">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id=news>
            <div class=row></div>
            <div class=row></div>
            <div class=row>
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s3">
                            <label for=titulo>Título: </label>
                            <input id=titulo type=text name=titulo>
                        </div>
                        <div class="input-field col s3">
                            <select name=categoria>
                                <option value="" disabled selected>Escolha a categoria</option>    
                                <% categorias.forEach(function(categoria){ %>
                                    <option value="<%=categoria.id%>"><%=categoria.nome%></option>
                                <% }); %>
                            </select>
                        </div>
                        <div class="input-field col s3">
                            <label for=titulo>Data: </label>
                            <input id=titulo type=date name=data>
                        </div>
                        <div class="input-field col s3">
                            <input id=titulo type=file name=imagem>
                            <label for=titulo>Imagem</label>
                        </div>
                    </div>
                </form>
            </div>
            <textarea name=corpo rows="10" cols="10"></textarea>
            <div class=row></div>
            <div class="row center-align">
                <button class="btn hide" id=send>Enviar</button>
            </div>
        </div>

        <script src=/lib/jquery.js></script>
        <script src=/lib/froala/froala_editor.pkgd.min.js></script>
        <script src=/lib/axios/axios.min.js></script>
        <script src=/scripts/noticia-save.js></script>
    </body>
</html>