<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/styles/css/app.css' />
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <meta name="viewport" content="width=device-width, user-scalable=no">
</head>

<body>
    <%- include("components/header-no-menu.ejs"); %>
    <div id="news">
        <div class="banner-product">
            <img src="/images/backgrounds/Dot_pattern_2.png" class="responsive-img">
            <div class="container">
                <span class="title">Notícias e Novidades</span>
            </div>
        </div>
        <section>
            <div class="container">
                <% noticias.forEach(function(noticia){ %>
                    <div class="row">
                        <div class="item">
                            <div class="col s12 m12 l6 center-on-medium-and-down">
                                <img src="<%=noticia.imagem%>" class="responsive-img">
                            </div>
                            <div class="col s12 m12 l6">
                                <div class="news-content">
                                    <hr class="separator">
                                    <span class="news-date"><%=noticia.data%></span>
                                    <a href="/noticias/<%=noticia.slug%>">
                                        <p class="news-title"><%=noticia.titulo%></p>
                                    </a>
                                    <p class="news-abstract"><%-noticia.resumo%></p>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </section>
        <!--
        <section>
            <div class="container center">
                <ul class="pagination">
                    <li>
                        <a href="javascript:void(0);" class="active">1</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">2</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">3</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">4</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">5</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">6</a>
                    </li>
                </ul>
            </div>
        </section>
        -->
    </div>
    <%- include("components/footer.ejs"); %>
    <script src=/lib/jquery/jquery-3.3.1.min.js></script>
    <script src=/lib/clamp/clamp.min.js></script>
    <script src=/lib/looky/js/looky-headers.js></script>
    <script src=/lib/looky/js/looky-masks.js></script>
    <script src=/scripts/news.js></script>
</body>

</html>