<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel=stylesheet href=/styles/css/app.css />
        <link rel=icon type=image/png href=/images/favicon.png />
        <meta name=viewport content="width=device-width, user-scalable=no">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <div class=topbar-no-fixed>
            <div class=container>
                <div class=row>
                    <div class="col offset-l6 s6 m6 l6 right-align hide-on-small-only">
                        <a href=/login/logout>Sair</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header header-fixed-with-scroll">
            <div class="container">
                <div class="row">
                    <div class="header-items">
                        <!-- Logo -->
                        <a href="<%=back%>">
                            <img class="brand-logo responsive-img" src="/images/logos/map-technology.png" alt="Logo Map Technology">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="news">
            <div class=container>
                <div class=row></div>
                <a href="/noticias/cadastrar" class=btn>Nova notícia</a>
                <div class=row></div>
                <div class=row></div>
                <table>
                    <thead>
                        <th>Título</th>
                        <th>Data</th>
                        <th>Opções</th>
                    </thead>
                    <tbody class=lista>
                            <tr>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <script src=/lib/jquery.js></script>
        <script src=/lib/axios/axios.min.js></script>
        <script src=/scripts/noticia-delete.js></script>
        <script src=/scripts/noticia-update.js></script>
    </body>
</html>