#error {
    .header {
        background-color: $primary-color;
    }
    .container {
        .row {
            .error-img {
                width: 100%;
                max-width: 600px;
                margin-top: 100px;
                margin-bottom: 40px;
            }
            .call-to-action {
                margin: 0 auto;
            }
        }
    }
}