@font-face {
    font-family: "Merriweather";
    src: url("/fonts/Merriweather/Merriweather-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Merriweather";
    src: url("/fonts/Merriweather/Merriweather-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Merriweather";
    src: url("/fonts/Merriweather/Merriweather-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Raleway";
    src: url("/fonts/Raleway/Raleway-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Raleway";
    src: url("/fonts/Raleway/Raleway-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Raleway";
    src: url("/fonts/Raleway/Raleway-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Raleway";
    src: url("/fonts/Raleway/Raleway-ExtraBold.ttf");
    font-weight: 800;
}

@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato/Lato-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato/Lato-Bold.ttf");
    font-weight: 700;
}