.row {
    .section {
        padding: 85px 0;
    }
}

.call-to-action {
    display: block;
    max-width: 260px;
    height: 60px;
    line-height: 60px;
    background-color: $secondary-color;
    font-weight: 700;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    &:hover {
        background-color: color('blue', 'darken-1');
    }
}

#wrapper1 {
    background-image: url('/images/backgrounds/quadros.png');
    background-position: top right;
    background-size: 700px 700px;
    background-repeat: no-repeat;
    .row {
        .columns {
            .col {
                &:first-of-type {
                    padding-left: 0;
                }
                &:last-of-type {
                    padding-right: 0;
                }
            }
            .col-title {
                color: $primary-color;
                font-weight: 700;
                font-size: 18px;
            }
            .col-title-white {
                color: #ffffff;
                font-weight: 700;
                font-size: 14px;
                text-transform: uppercase;
            }
        }
        &:nth-of-type(1) {
            // Row section 1 (pós slider)
            .section {
                .section-mark {
                    display: block;
                    width: 42px;
                    height: 1px;
                    border: 0;
                    border-top: 1px solid #C2C1C1;
                    margin: 10px 0;
                    padding: 0;
                }
                .section-title {
                    display: block;
                    text-transform: uppercase;
                    color: #B1B1B1;
                    font-weight: 800;
                    font-size: 14px;
                    margin-bottom: 85px;
                }
                .section-content {
                    .content-title {
                        display: block;
                        width: 70%;
                        font-size: 36px;
                        color: $primary-color;
                        font-weight: 500;
                    }
                }
            }
        } // Fim row section 1 (pós slider)
        &:nth-of-type(2) {
            // Row section 2 (solutions)
            position: relative;
            min-height: 715px;
            .section {
                padding: 0;
                padding-top: 85px;
                margin-bottom: 40px;
                .section-mark {
                    display: block;
                    width: 42px;
                    height: 1px;
                    border: 0;
                    border-top: 1px solid #C2C1C1;
                    margin: 10px 0;
                    padding: 0;
                }
                .section-title {
                    display: block;
                    text-transform: uppercase;
                    color: #B1B1B1;
                    font-weight: 800;
                    font-size: 14px;
                }
            }
            .menu {
                position: absolute;
                top: 170px;
                left: -40px;
                right: -40px;
                height: 140px;
                line-height: 110px;
                padding: 0 40px;
                background-color: #0080f2;
                #select-solutions {
                    display: none;
                    margin-top: 45px;
                    padding: 15px 40px;
                    width: 100%;
                    background-color: #0080f2;
                    color: #fff;
                    border: 0;
                    cursor: pointer;
                }
                #menu-solutions {
                    li {
                        display: inline;
                        a {
                            padding: 15px 40px;
                            margin-right: 30px;
                            background-color: transparent;
                            transition: background-color 0.3s ease;
                            &.active {
                                background-color: #21B5FF;
                            }
                            &:hover {
                                background-color: #21B5FF;
                            }
                        }
                    }
                }
            }
            .content {
                margin-top: 220px;
                .solution {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    &:not(:first-child) {
                        display: none;
                    }
                    .title {
                        display: block;
                        font-size: 36px;
                        color: $primary-color;
                        font-weight: 500;
                    }
                    .description {
                        color: #B1B1B1;
                    }
                }
                .call-to-action {
                    margin-top: 40px;
                    text-align: center;
                }
            }
        } // Fim row section 2
    }
}

#wrapper2 {
    position: relative;
    background-image: url('/images/backgrounds/quadros-2.png');
    background-position: top left;
    background-size: 350px 350px;
    background-repeat: no-repeat;
    #partners-complete-list-button {
        a {
            position: absolute;
            display: block;
            top: 230px;
            right: 0;
            background-color: color('cyan', 'lighten-1');
            color: #ffffff;
            width: 100px;
            min-height: 70px;
            overflow: hidden;
            padding: 20px;
            font-size: 12px;
            border-radius: 130px 0 0 130px;
        }
        div {
            position: absolute;
            top: 231px;
            right: 0;
            padding: 45px 40px;
            background-color: color('cyan', 'darken-1');
            border-radius: 50px 0 0 200px;
            z-index: -1;
        }
    }
    .row {
        &:nth-of-type(1) {
            // Row section 3
            .section {
                .section-mark {
                    display: block;
                    width: 42px;
                    height: 1px;
                    border: 0;
                    border-bottom: 1px solid #C2C1C1;
                    margin: 10px auto;
                    margin-bottom: 80px;
                    padding: 0;
                }
                .section-title {
                    display: block;
                    text-transform: uppercase;
                    color: #C2C1C1;
                    font-weight: 800;
                    font-size: 14px;
                    margin-bottom: 40px;
                }
                .section-title-2 {
                    display: block;
                    color: $primary-color;
                    font-weight: 500;
                    font-size: 36px;
                    margin-bottom: 85px;
                }
                .section-content {
                    .col {
                        .responsive-img {
                            position: relative;
                            margin: 20px 0;
                            z-index: -1;
                        }
                    }
                    .partners {
                        display: none;
                    }
                }
            }
        } // Fim row section 3
    }
}

#wrapper3 {
    margin-top: 150px;
    padding-top: 85px;
    margin-bottom: -25px;
    background-color: #00D1CA;
    color: #FFF;
    .col {
        .title {
            font-size: 36px;
            font-weight: 700;
            margin-bottom: 20px;
        }
        .subtitle {
            font-size: 24px;
            margin-bottom: 30px;
        }
        .description {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 50px;
            line-height: 2;
        }
        .call-to-action {
            background-color: $primary-color;
            margin-bottom: 50px;
            &:hover {
                background-color: rgb(11, 30, 56);
            }
        }
    }
}

#wrapper4 {
    padding-top: 85px;
    background-color: $secondary-color;
    height: 570px;
    .row {
        position: relative;
        margin: 0;
        &:first-of-type {
            .box-section-title {
                position: relative;
                float: left;
                .section-mark {
                    position: relative;
                    display: block;
                    width: 42px;
                    height: 1px;
                    border: 0;
                    border-bottom: 1px solid #ffffff;
                    margin: 10px 0;
                    padding: 0;
                    z-index: 1;
                }
                .section-title {
                    position: relative;
                    display: block;
                    text-transform: uppercase;
                    color: #ffffff;
                    font-weight: 800;
                    font-size: 14px;
                    z-index: 1;
                }
                .img-section-title {
                    position: absolute;
                    top: -150px;
                    right: -130px;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }
            }
            .all-news {
                position: relative;
                display: block;
                float: right;
                margin-bottom: 40px;
                padding-bottom: 10px;
                border-bottom: 1px solid #00d1ca;
            }
        }
        #object-title {
            position: absolute;
        }
        .section {
            padding: 0;
            .news-card {
                padding: 0 !important;
                min-height: 439px;
                &:nth-of-type(1) {
                    background-color: #005ec2;
                }
                &:nth-of-type(2) {
                    background-color: #0050a6;
                }
                &:nth-of-type(3) {
                    background-color: #00448c;
                }
                .news-content {
                    padding: 40px;
                    color: #ffffff;
                    p {
                        margin: 0;
                    }
                    .news.date {
                        display: block;
                        font-size: 14px;
                        font-family: $secondary-font-stack;
                    }
                    .news-title {
                        display: block;
                        margin-top: 10px;
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 1.3;
                    }
                    .news-abstract {
                        display: block;
                        font-size: 16px;
                        font-family: $secondary-font-stack;
                    }
                    .news-read-more {
                        display: block;
                        float: left;
                        clear: left;
                        font-size: 14px;
                        font-weight: 700;
                        &:hover {
                            color: #00d1ca;
                        }
                    }
                }
            }
        }
    }
}

@media #{$small-and-down} {
    #wrapper1 {
        .row {
            &:nth-of-type(1),
            &:nth-of-type(2) {
                .section-mark {
                    margin: auto !important;
                    padding: 10px 0 !important;
                }
                .content-title {
                    margin-left: auto;
                    margin-right: auto;
                    font-size: 2.5vmax !important;
                }
            }
            &:nth-of-type(2) {
                .call-to-action {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
    #wrapper2 {
        .row {
            &:nth-of-type(1) {
                .section {
                    .section-title-2 {
                        font-size: 2.5vmax !important;
                    }
                }
            }
        }
    }
    #wrapper4 {
        padding-bottom: 90px !important;
        .img-section-title {
            top: -250px !important;
            right: 0 !important;
        }
        .box-section-title {
            .img-section-title {
                top: -220px !important;
                right: -20px !important;
            }
        }
        .box-section-title {
            margin-bottom: 20px;
        }
        .all-news {
            position: absolute !important;
            border-bottom: 0 !important;
            right: 0;
            left: 0;
            text-align: center;
            bottom: -1420px;
        }
    }
}

@media #{$medium-and-down} {
    #wrapper1 {
        .solution {
            .responsive-img {
                margin-top: 40px;
            }
        }
    }
    #wrapper3 {
        .col {
            .call-to-action {
                margin-bottom: 50px;
                margin-right: auto;
                margin-left: auto;
            }
        }
    }
    #wrapper4 {
        height: auto !important;
        padding-bottom: 85px;
    }
}

@media only screen and (max-width: 1400px) {
    #wrapper1 {
        .row {
            &:nth-of-type(2) {
                overflow: hidden;
                .menu {
                    background-color: transparent;
                    #select-solutions {
                        display: block !important;
                    }
                    #menu-solutions {
                        display: none !important;
                    }
                }
            }
        }
    }
}