#injet {
    .banner-product {
        position: relative;
        top: -70px;
        height: 700px;
        margin-bottom: -70px;
        background-color: $primary-color;
        .container {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            transform: translateY(-50%);
            text-align: center;
            .title {
                display: block;
                font-size: 80px;
                color: #ffffff;
                font-weight: 700;
            }
            .subtitle {
                display: block;
                font-size: 20px;
                color: #FFF;
                margin-bottom: 40px;
            }
            .call-to-action {
                margin: 0 auto;
                text-align: center;
            }
        }
    }
    section {
        /* Primeira seção */
        &:nth-of-type(1) {
            position: relative;
            max-width: 1267px;
            margin: 0 auto;
            background-color: #FFF;
            margin-top: -80px;
            background-image: none;
            .container {
                width: 90%;
                .row {
                    .col {
                        margin: 85px 0;
                        &:nth-of-type(1) {
                            img {
                                width: 87%;
                                margin-bottom: 20px;
                            }
                        }
                        .title {
                            text-align: left;
                            font-size: 36px;
                            color: $primary-color;
                            font-weight: 700;
                            margin-bottom: 40px;
                            hr {
                                width: 170px;
                                margin: 10px 0;
                                border: 0;
                                border: 3px solid $secondary-color;
                            }
                        }
                        .description {
                            text-align: left;
                            font-size: 16px;
                            color: #B1B1B1;
                            line-height: 2;
                            font-weight: 500;
                            &:first-child {
                                margin-bottom: 20px;
                            }
                            &:last-child {
                                margin-bottom: 40px;
                            }
                        }
                    }
                }
            }
        }
        /* Segunda seção */
        &:nth-of-type(2) {
            background: linear-gradient(90deg, $secondary-color 65%, #FFF 35%);
            .container {
                position: relative;
                max-width: 1267px;
                height: 707px;
                .title-block {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-70%);
                    max-width: 425px;
                    height: 245px;
                    background-color: #00D1CA;
                    padding: 40px;
                    font-size: 36px;
                    font-weight: 700;
                    color: #FFF;
                    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.2);
                    hr {
                        border: 0;
                        border: 1px solid #FFF;
                        width: 50px;
                        margin: 20px 0;
                    }
                    img {
                        position: absolute;
                        left: 29%;
                        bottom: -100px;
                        width: 100px;
                    }
                }
                .list {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    max-width: 600px;
                    padding: 40px;
                    color: #FFF;
                    ul {
                        li {
                            margin: 30px 0;
                            list-style-type: disc;
                        }
                    }
                }
            }
        }
        &:nth-of-type(3) {
            position: relative;
            padding: 85px 0;
            .dot {
                position: absolute;
                top: 120px;
                width: 100px;
            }
            .col {
                &:nth-of-type(1) {
                    text-align: center;
                    .title {
                        margin-top: 60px;
                        font-size: 36px;
                        font-weight: 700;
                        color: $primary-color;
                        margin-bottom: 60px;
                    }
                    img {
                        width: 100%;
                        max-width: 400px;
                        margin-bottom: 20px;
                    }
                }
                &:nth-of-type(2) {
                    ul {
                        li {
                            margin: 20px 0;
                            color: #B1B1B1;
                            font-weight: 500;
                            &::before {
                                content: '•';
                                color: #00D1CA;
                                display: inline-block;
                                width: 1em;
                                height: 1em;
                                margin-right: 0.5em;
                                margin-left: -1.5em;
                                text-align: right;
                                direction: rtl;
                                font-size: 36px;
                                line-height: 1;
                                vertical-align: baseline
                            }
                        }
                    }
                }
            }
        }
        &:nth-of-type(4) {
            margin-bottom: 85px;
            .container {
                .title-section {
                    font-size: 36px;
                    color: $primary-color;
                    font-weight: 700;
                    text-align: center;
                    margin-bottom: 85px;
                }
                .mark-group-inline {
                    margin: 85px 0;
                }
                .item-1,
                .item-2 {
                    .title {
                        font-size: 16px;
                        color: $primary-color;
                        font-weight: 700;
                        margin-bottom: 40px;
                    }
                    .content {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .description {
                            color: #B1B1B1;
                            font-weight: 500;
                            max-width: 500px;
                        }
                    }
                }
                .item-1 {
                    img {
                        width: 100%;
                        max-width: 514px;
                    }
                }
                .item-2 {
                    img {
                        width: 403px;
                    }
                }
            }
        }
        &:nth-of-type(5) {
            position: relative;
            background-color: $secondary-color;
            height: 430px;
            padding: 60px;
            margin-top: 200px;
            margin-bottom: 85px;
            img {
                position: absolute;
                top: -185px;
                width: 100%;
                max-width: 276px;
            }
            .content {
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                transform: translateY(-50%);
                color: #FFF;
                .title {
                    margin: 85px auto 32px auto;
                    font-size: 36px;
                    max-width: 500px;
                }
                .subtitle {
                    margin-bottom: 84px;
                    font-size: 16px;
                }
                .call-to-action {
                    margin: 0 auto;
                    background-color: $primary-color;
                    margin-bottom: 85px;
                    &:hover {
                        background-color: rgb(11, 30, 56);
                    }
                }
            }
        }
        &:nth-of-type(6) {
            .container {
                .title {
                    font-size: 36px;
                    color: $primary-color;
                    font-weight: 700;
                    margin-bottom: 85px;
                }
                img {
                    width: 100%;
                    max-width: 886px;
                    margin-bottom: 170px;
                }
            }
        }
    }
    @media #{$small-and-down} {
        .banner-product {
            .container {
                margin-top: 70px;
            }
        }
        section {
            &:nth-of-type(2) {
                .container {
                    .title-block {
                        font-size: 3vmax;
                    }
                }
            }
            &:nth-of-type(3) {
                .dot {
                    display: none;
                }
                .col {
                    .title {
                        font-size: 3vmax !important;
                    }
                    &:nth-of-type(2) {
                        ul {
                            li {
                                text-align: center;
                                &::before {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
            &:nth-of-type(5) {
                img {
                    display: none;
                }
            }
        }
    }
    @media #{$medium-and-down} {
        .banner-product {
            top: 0px !important;
            .container {
                .title {
                    font-size: 9vmax;
                }
                .subtitle {
                    font-size: 2.5vmax;
                }
                .call-to-action {
                    margin-bottom: 80px;
                }
            }
        }
        section {
            &:nth-of-type(1) {
                .container {
                    .row {
                        .col {
                            margin: 0 !important;
                            &:nth-of-type(1) {
                                text-align: center;
                            }
                        }
                    }
                }
            }
            &:nth-of-type(4) {
                .container {
                    .content {
                        display: block !important;
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 1535px) {
        section {
            &:nth-of-type(2) {
                background: linear-gradient(90deg, $secondary-color 100%, #FFF 35%);
                .container {
                    height: initial;
                    padding: 20px 0;
                    .title-block {
                        margin: 0 auto;
                        padding-top: 20px;
                        position: initial;
                        transform: initial;
                        img {
                            display: none;
                        }
                    }
                    .list {
                        margin: 0 auto;
                        position: initial;
                        transform: initial;
                    }
                }
            }
        }
    }
    @media only screen and (min-width: 1650px) {
        section {
            &:nth-of-type(2) {
                background: linear-gradient(90deg, $secondary-color 100%, #FFF 35%);
                padding: 100px 0;
            }
        }
    }
}