#news {
    .banner-product {
        position: relative;
        top: -70px;
        height: 439px;
        margin-bottom: -70px;
        background-color: $primary-color;
        img {
            position: absolute;
            bottom: -147px;
            right: 0;
            width: 100%;
            max-width: 147px;
        }
        .container {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            transform: translateY(-50%);
            .title {
                display: block;
                font-size: 80px;
                color: #ffffff;
                font-weight: 700;
            }
        }
    }
    section {
        margin: 85px 0;
        .container {
            .row {
                padding: 20px 0;
                .item {
                    img {
                        width: 100%;
                        height: 307px;
                        max-width: 475px;
                    }
                    .news-content {
                        .separator {
                            border: 0;
                            border: 1px solid #80E9E5;
                            margin-bottom: 15px;
                        }
                        .news-date {
                            display: block;
                            color: #B1B1B1;
                            margin-bottom: 15px;
                        }
                        a {
                            display: block;
                            width: 100%;
                            .news-title {
                                font-size: 24px;
                                font-weight: 700;
                                color: $primary-color;
                                &:hover {
                                    color: #B1B1B1;
                                }
                            }
                        }
                        .news-abstract {
                            margin-top: 30px;
                            color: #B1B1B1;
                        }
                    }
                }
            }
        }
        .pagination {
            font-family: $tertiary-font-stack;
            font-size: 24px;
            font-weight: 700;
            li {
                a {
                    color: #9C9C9C;
                    &:hover,
                    &.active {
                        color: #00D1CA;
                    }
                }
            }
        }
    }
    @media #{$small-and-down} {
        .banner-product {
            .container {
                margin-top: 70px;
            }
            img {
                display: none;
            }
        }
    }
    @media #{$medium-and-down} {
        .banner-product {
            top: 0px !important;
            .container {
                .title {
                    font-size: 6vmax;
                }
            }
        }
    }
}