.new-header {
    .new-date {
        color: #B1B1B1;
        font-size: 16px;
        font-weight: 500;
    }

    .new-categories {
        margin: 20px 0;

        a {
            color: $secondary-color;
            font-weight: 500;

            &:not(:last-of-type) {
                &:after {
                    content: ',';
                }
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.new-title {
    color: $primary-color;
    font-size: 64px;
    font-weight: 700;
}

.new-img {
    width: 100%;
    margin: 80px 0;
}

.new-content {
    width: 80%;
    margin: 0 auto;
    color: #B1B1B1;
    font-size: 16px;

    a {
        color: $secondary-color;
        &:hover {
            text-decoration: underline;
        }
    }

    p {
        line-height: 2;
    }

    margin-bottom: 80px;
}