.mark-group-inline {
    text-align: center;
    margin-bottom: 75px;
    .mark {
        display: inline-block;
        width: 1px;
        border: 0;
        border: 1px solid #00D1CA;
        border-radius: 10px;
    }
}

.mark-group-block {
    position: absolute;
    left: -20px;
    top: 30px;
    .mark {
        width: 1px;
        border: 0;
        border: 1px solid #00D1CA;
        border-radius: 10px;
    }
}

#vf {
    .banner-product {
        position: relative;
        top: -70px;
        height: 700px;
        margin-bottom: -70px;
        background-color: #FFF;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        .container {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            transform: translateY(-50%);
            text-align: center;
            .title {
                display: block;
                font-size: 80px;
                color: #ffffff;
                font-weight: 700;
            }
            .subtitle {
                display: block;
                font-size: 20px;
                color: #456B8B;
                margin-bottom: 40px;
            }
            .call-to-action {
                margin: 0 auto;
                text-align: center;
            }
        }
    }
    section {
        /* Primeira seção */
        margin-top: 85px;
        &:nth-of-type(1) {
            text-align: center;
            background-color: #FFF;
            background-image: url('/images/backgrounds/quadros-2.png'), url('/images/backgrounds/quadros-2.png');
            background-size: 250px;
            background-repeat: no-repeat, no-repeat;
            background-position: left bottom, right bottom;
            .title {
                font-size: 36px;
                color: $primary-color;
                margin: 40px 0;
                font-weight: 700;
            }
            .subtitle {
                font-size: 16px;
                color: #B1B1B1;
                font-family: $secondary-font-stack;
                margin-bottom: 80px;
                line-height: 2;
                font-weight: 300;
            }
            .boxes {
                margin: 40px 0;
                .row {
                    .col {
                        padding: 40px 20px;
                        min-height: 300px;
                        overflow: hidden;
                        color: #FFF;
                        text-align: left;
                        &:first-of-type {
                            background-color: $primary-color;
                        }
                        &:nth-of-type(2) {
                            background-color: $secondary-color;
                        }
                        &:last-of-type {
                            background-color: #00D1CA;
                        }
                        .box-title {
                            display: block;
                            font-weight: 700;
                            height: 60px;
                        }
                    }
                }
            }
        }
        &:nth-of-type(2) {
            position: relative;
            img {
                position: absolute;
                top: -70px;
                right: 0;
                width: 250px;
                z-index: -1;
            }
            .container {
                .title {
                    font-size: 36px;
                    color: $primary-color;
                    font-weight: 700;
                    text-align: center;
                    margin-bottom: 40px;
                }
                .description {
                    font-size: 16px;
                    color: #B1B1B1;
                    font-family: $secondary-font-stack;
                    text-align: center;
                    line-height: 2;
                    font-weight: 300;
                    max-width: 942px;
                    margin: 0 auto;
                    margin-bottom: 80px;
                }
            }
        }
        &:nth-of-type(3) {
            .title {
                font-size: 36px;
                color: $primary-color;
                font-weight: 700;
            }
            .rowflex {
                display: flex;
                .virtualizacoes {
                    margin-top: 62px;
                    width: 635px;
                    .virt1,
                    .virt2 {
                        position: relative;
                    }
                    .title {
                        max-width: 250px;
                    }
                    .description {
                        margin: 40px 105px 0 80px;
                        color: #B1B1B1;
                        font-size: 16px;
                        font-family: $secondary-font-stack;
                        margin-bottom: 80px;
                        line-height: 2;
                        font-weight: 300;
                    }
                    .call-to-action {
                        margin: 0 auto;
                        text-align: center;
                    }
                }
                .vantagens {
                    position: relative;
                    width: 448px;
                    margin: 0 auto;
                    border: 2px dashed #00D1CA;
                    border-radius: 10px;
                    box-sizing: border-box;
                    .inside-vantagens {
                        margin: 62px 115px;
                        width: 100%;
                    }
                    .title-bar {
                        position: absolute;
                        left: -20px;
                        top: 100px;
                        width: 150px;
                        height: 30px;
                        background-color: #E3FAF9;
                        border: 1px solid #E3FAF9;
                        border-radius: 20px;
                        z-index: -1;
                    }
                    .title {
                        display: flex;
                        align-items: center;
                        max-width: 255px;
                        img {
                            width: 50px;
                            height: 50px;
                            margin-left: -91px;
                            margin-right: 42px;
                        }
                        p {
                            max-width: 250px;
                        }
                    }
                    .box-vantagem {
                        max-width: 255px;
                        .title {
                            margin-top: 40px;
                            p {
                                font-size: 20px;
                                font-weight: 800;
                            }
                        }
                        .description {
                            font-size: 16px;
                            color: #B1B1B1;
                            font-family: $secondary-font-stack;
                            line-height: 2;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
        &:nth-of-type(4) {
            margin: 0 auto;
            text-align: center;
            margin: 85px 0;
            .container {
                position: relative;
                min-height: 809px;
            }
        }
        &:nth-of-type(5) {
            padding-bottom: 85px;
            margin-top: -85px;
            .container {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                .content {
                    max-width: 800px;
                    margin: 0 auto;
                    text-align: center;
                    .title {
                        font-size: 36px;
                        color: $primary-color;
                        margin: 40px 0;
                        font-weight: 400;
                    }
                    .description {
                        font-size: 16px;
                        color: #B1B1B1;
                        font-family: $secondary-font-stack;
                        margin-bottom: 80px;
                        line-height: 2;
                        font-weight: 300;
                    }
                }
                .responsive-img {
                    margin: 0 auto;
                    width: 839px;
                }
            }
        }
        &:nth-of-type(6) {
            padding-bottom: 85px;
            background-image: url('/images/solutions/virtual-factory/empresas.png');
            background-size: cover;
            .container {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                .content {
                    max-width: 550px;
                    margin: 0 auto;
                    text-align: center;
                    .title {
                        font-size: 36px;
                        color: #FFF;
                        margin: 40px 0;
                        font-weight: 400;
                    }
                    .description {
                        font-size: 16px;
                        color: #FFF;
                        font-family: $secondary-font-stack;
                        margin-bottom: 80px;
                        line-height: 2;
                        font-weight: 300;
                    }
                    .call-to-action {
                        margin: 0 auto;
                        text-align: center;
                    }
                }
            }
        }
    }
    @media #{$small-and-down} {
        .banner-product {
            .container {
                margin-top: 70px;
            }
        }
        section {
            margin-top: 155px !important;
            &:nth-of-type(3) {
                .virtualizacoes {
                    .title {
                        margin: 0 auto !important;
                    }
                    .description {
                        margin: 0 20px !important;
                        margin-top: 40px !important;
                        margin-bottom: 85px !important;
                    }
                }
                .vantagens {
                    padding: 20px !important;
                    position: relative;
                    border: 2px dashed #00D1CA;
                    .inside-vantagens {
                        margin: 62px 20px !important;
                    }
                }
            }
            &:nth-of-type(4) {
                .container {
                    overflow: auto;
                }
            }
        }
    }
    @media #{$medium-and-down} {
        .banner-product {
            top: 0px !important;
            .container {
                .title {
                    font-size: 9vmax;
                }
                .subtitle {
                    font-size: 2.5vmax;
                }
                .call-to-action {
                    margin-bottom: 80px;
                }
            }
        }
        section {
            &:nth-of-type(3) {
                .rowflex {
                    flex-wrap: wrap;
                    .virtualizacoes {
                        width: 100%;
                    }
                    .vantagens {
                        width: 100%;
                    }
                }
            }
        }
    }
    @media #{$large-and-down} {
        section {
            &:nth-of-type(3) {
                .rowflex {
                    flex-wrap: wrap;
                    .virtualizacoes {
                        width: 100%;
                    }
                    .vantagens {
                        width: 100%;
                        .inside-vantagens {
                            width: auto;
                        }
                    }
                }
            }
        }
    }
}