// Looky Project
@import '../../lib/looky/scss/components/colors';
$primary-color: #0e294d !default;
$secondary-color: #0080f2 !default;
$link-color: #ffffff !default;
$font-stack: ('Raleway', Arial, Helvetica, sans-serif) !default;
$secondary-font-stack: ('Merriweather', Arial, Helvetica, sans-serif) !default;
$tertiary-font-stack: ('Lato', Arial, Helvetica, sans-serif) !default;
@import '../../lib/looky/scss/looky';
// This Project
@import 'fonts';
@import '404';
@import 'header';
@import 'home';
@import 'virtual-factory';
@import 'injet';
@import 'news';
@import 'new';
@import 'login';

.btn {
    background-color: $primary-color;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}