<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel=stylesheet href=/styles/css/app.css />
        <link rel=icon type=image/png href=/images/favicon.png />
        <meta name=viewport content="width=device-width, user-scalable=no">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <%- include("../components/menu-cms.ejs"); %>
        <div id="news">
            <div class=container>
                <div class=row></div>
                <a href="/noticias/cadastrar" class=btn>Nova notícia</a>
                <div class=row></div>
                <div class=row></div>
                <table>
                    <thead>
                        <th>Título</th>
                        <th>Data</th>
                        <th>Opções</th>
                    </thead>
                    <tbody class=lista>
                        <% noticias.forEach(function(noticia) { %>
                            <tr>
                                <td>
                                     <a href="noticias/<%=noticia.slug%>"><%=noticia.titulo%></a>
                                </td>
                                <td>
                                    <a href="/<%=noticia.slug%>"><%=noticia.data%></a>
                                </td>
                                <td>
                                    <button onclick="updateNoticia(<%=noticia.id%>)"><i class="small material-icons">create</i></button>
                                    <button onclick="deleteNoticia(<%=noticia.id%>)"><i class="small material-icons">delete</i></button>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
        <script src=/lib/jquery.js></script>
        <script src=/lib/axios/axios.min.js></script>
        <script src=/scripts/noticia-delete.js></script>
        <script src=/scripts/noticia-update.js></script>
    </body>
</html>